/* ==============================Estilos General============================================ */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Poppins-Regular;
	src: url(../Fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: Poppins-Bold;
	src: url(../Fonts/Poppins-Bold_0.otf);
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url(../Fonts/Poppins-SemiBold.ttf);
}

@font-face {
	font-family: Poppins-Medium;
	src: url(../Fonts/Poppins-Medium.ttf);
}

/* ==============================Nueva Fuente============================================ */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;800&display=swap');

body {
	font-family: 'Rubik', sans-serif;
}


/* semana 4 */
.fondo-semana-4 {
	width: 1000px;
	margin: 0 auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Rubik', sans-serif !important;
}

.header {
	width: 886px;
	height: 260px;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}


.header .semana-4-titulo {
	font-size: 63px;
	line-height: 74px;
	color: #FA2525;
}


.mesaje-semana-4 {
	width: 42.9rem;
	margin-top: 88px;
}

.texto-semana-4 {
	font-size: 27px;
	line-height: 32px;
	text-align: center;
}

.recuperar {
	width: 766px;
	margin: 60px 0px 30px 0px;
}

.recupera-mensaje {
	font-size: 36px;
	line-height: 54px;
	color: #4A4A4A;
	font-weight: 800;
}

.instructivo {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.instructivo button {
	margin-top: 5px;
	font-family: Poppins-Bold, sans-serif !important;
	font-size: 16px;
	width: 18.75rem;
	padding: 20px 20px;
	background: #fff;
	color: #FA2525;
	border: 1px solid #FA2525;
	border-radius: 25px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.validar-tel {
	margin: 60px 0px 30px 0px;
}

.importante {
	margin-top: 98px;
	width: 590px;
}

.importante-mensaje {
	font-size: 27px;
	line-height: 40px;
	text-align: center;
	color: #4A4A4A;
}

.importante-mensaje>span {
	font-weight: 700;
}

.dudas-semana-4 {
	width: 530px;
	margin-top: 92px;
}

.dudas-mensaje {
	font-size: 27px;
	line-height: 31px;
	text-align: center;
	font-weight: bold;
	color: #4A4A4A
}

.dudas-mensaje>span {
	color: #FA2525;
}

.fondo-linea {
	margin-top: 33px;
}

.fondo-linea img {
	width: 100%;
}

.legales-semana-4 {
	width: 500px;
	height: 95px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #4A4A4A;
}

.fondo-linea-2 img {
	width: 100%;
}

@media (min-width: 280px) and (max-width: 576px) {
	.fondo-semana-4 {
		width: 100%;
	}

	.header {
		width: 90%;
		margin-top: 0.7rem;
		height: auto !important;
	}

	.semana-4-titulo {
		font-size: 2.4rem !important;
		line-height: 2.7rem !important;

	}

	.mesaje-semana-4 {
		width: 90%;
		margin-top: 2rem;
	}

	.texto-semana-4 {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}

	.recuperar {
		width: 90%;

	}

	.recupera-mensaje {
		font-size: 1.7rem;
		line-height: 2rem;
	}

	.instructivo button {
		width: 195px;
		font-size: 0.7rem;
		padding: 20px 15px;

	}

	.validar-tel {
		width: 90%;
	}

	.importante {
		margin-top: 98px;
		width: 90%;
	}

	.importante-mensaje {
		font-size: 1.3rem;
		line-height: 1.5rem;
		text-align: center;
		color: #724CF1;
	}

	.dudas-semana-4 {
		width: 90%;

	}

	.dudas-mensaje {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}

	.legales-semana-4 {
		width: 80%;

	}

	video{
		width: 90%;
	}

}