/* ==============================Estilos General============================================ */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Poppins-Regular;
	src: url(../Fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: Poppins-Bold;
	src: url(../Fonts/Poppins-Bold_0.otf);
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url(../Fonts/Poppins-SemiBold.ttf);
}

@font-face {
	font-family: Poppins-Medium;
	src: url(../Fonts/Poppins-Medium.ttf);
}

body {
	font-family: Poppins-Regular, sans-serif;
}


/* semana 4 */
.fondo-semana-4 {
	width: 1000px;
	margin: 0 auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: Poppins, sans-serif !important;
}

.header{
	width: 100%;
	height: 250px;
	background-image: url('../img/fondo.png');
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.header .caja{
	width: 600px;
	height: 150px;
	background-color: #fff;
	border-radius: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.caja .semana-4-titulo{
	width: 400px;
	font-size: 34px;
	color: #724CF1;
	font-family: Poppins-Bold, sans-serif !important;
}

/* .header img {
	width: 100%;
} */

.mesaje-semana-4 {
	width: 690px;
	margin-top: 88px;
}

.texto-semana-4 {
	font-size: 1.68rem;
	line-height: 40px;
	text-align: center;
}

.recuperar {
	width: 600px;
	margin-top: 60px;
}

.recupera-mensaje {
	font-size: 36px;
	line-height: 54px;
	color: #724CF1;
	font-family: Poppins-Bold, sans-serif !important;
}

.instructivo {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.instructivo button {
	margin-top: 5px;
	font-family: Poppins-Bold, sans-serif !important;
	font-size: 16px;
	width: 18.75rem;
	padding: 20px 20px;
	background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
	background: linear-gradient(to right, #dc2430, #7b4397);
	color: #ffffff;
	border: 1px solid transparent;
	border-radius: 25px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.validar-tel {
	margin-top: 65px;
}

.importante {
	margin-top: 98px;
	width: 590px;
}

.importante-mensaje {
	font-size: 27px;
	line-height: 40px;
	text-align: center;
	color: #724CF1;
}

.importante-mensaje>span {
	font-family: Poppins-Bold, sans-serif !important;
}

.dudas-semana-4 {
	width: 530px;
	margin-top: 92px;
}

.dudas-mensaje {
	font-size: 27px;
	line-height: 31px;
	text-align: center;
	font-weight: bold;
}

.dudas-mensaje>span {
	color: #BC1AB0;
}

.fondo-linea {
	margin-top: 33px;
}

.fondo-linea img {
	width: 100%;
}

.legales-semana-4 {
	width: 500px;
	height: 95px;
	display: flex;
	align-items: center;
	text-align: center;
}

.fondo-linea-2 img {
	width: 100%;
}

@media (min-width: 280px) and (max-width: 576px){
	.fondo-semana-4{
		width: 100%;
	}

	.header .caja{
		width: 90%;;
	}

	.caja .semana-4-titulo {
		width: 80%;
		font-size: 1.7rem;
		
	}

	.mesaje-semana-4{
		width: 90%;
	}

	.texto-semana-4{
		font-size: 1.3rem;
		line-height: 1.5rem;
	}

	.recuperar {
		width: 90%;
		
	}

	.recupera-mensaje {
		font-size: 1.7rem;
		line-height: 2rem;
	}

	.importante {
		margin-top: 98px;
		width: 90%;
	}

	.importante-mensaje {
		font-size: 1.3rem;
		line-height: 1.5rem;
		text-align: center;
		color: #724CF1;
	}

	.dudas-semana-4 {
		width: 90%;
		
	}

	.dudas-mensaje {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}

	.legales-semana-4 {
		width: 80%;
		
	}

}